name: Auto-Merge Dependabot PRs

on:
  pull_request_target:
    types:
      - opened
      - synchronize
    branches:
      - master

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v4

      - name: Enable auto-merge for Dependabot PRs
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.PAT}}
        run: gh pr merge --delete-branch --auto --merge "$PR_URL"
